@font-face {
    font-family: 'Clash Grotesk';
    src: url('../../fonts/ClashGrotesk_Complete/ClashGrotesk_Complete/Fonts/TTF/ClashGrotesk-Variable.ttf');
    font-weight: normal;
    font-style: normal;

}

.header {
    max-width: 1400px;
    height: 1313px;
    margin: 0 auto;
    background-color: black;
}

.header_header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.header_header nav ul {
    color: white;

}

.header_header a {
    color: white;
}

.header_header nav a {
    color: var(--text-white);
    text-decoration: none;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;

}

.header_header nav a li {
    list-style: none;
    margin-top: -15px;
    margin-bottom: 25px;
    font-family: 'Clash Grotesk';

}

.header_block {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.overlay-text {
    position: absolute;
    top: 3%;
    left: 0%;
    transform: translate(-0%, -50%);
    color: white;
    font-size: 140px;
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
    font-family: 'Clash Grotesk';
    font-weight: 300;

}

.background-image {
    width: 100%;
    height: 660px;
    margin-top: 390px;
    display: block;
}

.header_button button {
    margin-top: 50px;
    width: 1400px;
    height: 99px;
    border-radius: 40px;
    border: none;
    gap: 10px;
    background-color: rgba(221, 28, 26, 1);
    color: white;
    font-size: 28px;
}