<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JunySchool</title>
    <link rel="stylesheet" href="../../static/assets/css/include/header.css">
</head>

<body>


    <header class="header">
        <div class="header_header">
            <div class="header_logo">
                <img src="../../static/assets/icons/logo.svg" alt="logo">
            </div>
            <nav>
                <ul>
                    <a href="#">
                        <li>ABOUT</li>
                    </a>
                    <a href="#">
                        <li>ADVANRTAGES</li>
                    </a>

                    <a href="#">
                        <li>COURSES</li>
                    </a>

                </ul>
            </nav>
            <nav>
                <ul>
                    <a href="#">
                        <li>TEAM</li>
                    </a>
                    <a href="#">
                        <li>PRICE</li>
                    </a>
                    <a href="#">
                        <li>CONTACTS</li>
                    </a>
                </ul>
            </nav>
            <nav></nav>
            <a href="#">GET IN TOUCH <img src="../../static/assets/icons/arrow.svg" alt=""></a>
        </div>

        <div class="header_block">
            <img class="background-image" src="../../static/assets/images/Rectangle 280.png" alt="banner">
            <div class="overlay-text ">SHOOL OF MODERN ANDPOPULAR PROFESSIONS FOR CHILDREN</div>
        </div>

        <div class="header_button">
            <button>GET STARTED</button>
        </div>
    </header>




</body>

</html>