<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JunySchool</title>
    <link rel="stylesheet" href="../../static/assets/css/include/style.css">
</head>

<body>
    <!-- START HEADER-->
    <header class="header">
        <div class="header_header">
            <div class="header_logo">
                <img src="../../static/assets/icons/logo.svg" alt="logo">
            </div>
            <nav>
                <ul>
                    <a href="#">
                        <li>ABOUT</li>
                    </a>
                    <a href="#">
                        <li>ADVANRTAGES</li>
                    </a>

                    <a href="#">
                        <li>COURSES</li>
                    </a>

                </ul>
            </nav>
            <nav>
                <ul>
                    <a href="#">
                        <li>TEAM</li>
                    </a>
                    <a href="#">
                        <li>PRICE</li>
                    </a>
                    <a href="#">
                        <li>CONTACTS</li>
                    </a>
                </ul>
            </nav>
            <a href="#">GET IN TOUCH <img src="../../static/assets/icons/arnumbers_table_row.svg" alt=""></a>
        </div>
        <div class="header_block">
            <img class="background-image" src="../../static/assets/images/Rectangle 280.png" alt="banner">
            <div class="overlay-text ">SHOOL OF MODERN ANDPOPULAR PROFESSIONS FOR CHILDREN</div>
        </div>
        <div class="header_button">
            <button>GET STARTED</button>
        </div>
    </header>
    <!-- END HEADER -->



    <!-- START NUMBERS -->
    <section class="numbers">
        <div class="numbers_btn_text">
            <button class="numbers_btn">Education</button>
            <h2 class="numbers_text_h2">Give your child the best <span class="numbers_span">education</span></h2>
        </div>
        <div class="numbers_block">
            <h4 class="numbers_text_h4">We introduce teenagers to modern popular and highly paid professions.</h4>
            <div class="numbers_table">
                <div class="numbers_table_line"></div>
                <div class="numbers_table_row">
                    <div class="numbers_table_cell_n">
                        <div class="numbers_table_cell_number">500 +</div>
                    </div>
                    <div class="numbers_table_cell_flex">
                        <div class="numbers_table_cell">Teachers</div>
                    </div>
                </div>
                <div class="numbers_table_line"></div>
                <div class="numbers_table_row">
                    <div class="numbers_table_cell_n">
                        <div class="numbers_table_cell_number">55</div>
                    </div>
                    <div class="numbers_table_cell_flex">
                        <div class="numbers_table_cell">COUNTRIES</div>
                    </div>
                </div>
                <div class="numbers_table_line"></div>
                <div class="numbers_table_row">
                    <div class="numbers_table_cell_n">
                        <div class="numbers_table_cell_number">12</div>
                    </div>
                    <div class="numbers_table_cell_flex">
                        <div class="numbers_table_cell">MODERN TENDENCY</div>
                    </div>
                </div>
                <div class="numbers_table_line"></div>
                <div class="numbers_table_row">
                    <div class="numbers_table_cell_n">
                        <div class="numbers_table_cell_number">28</div>
                    </div>
                    <div class="numbers_table_cell_flex">
                        <div class="numbers_table_cell">COUNTRIES</div>
                    </div>
                </div>
                <div class="numbers_table_line"></div>
                <div class="numbers_table_row">
                    <div class="numbers_table_cell_n">
                        <div class="numbers_table_cell_number">10,000</div>
                    </div>
                    <div class="numbers_table_cell_flex">
                        <div class="numbers_table_cell">Happy families</div>
                    </div>
                </div>
            </div>
            <button class="numbers_btn_red">GET STARTED</button>
        </div>
    </section>
    <!-- END NUMBERS -->



</body>

</html>